

<ul class="list-unstyled text-small">
    <div class="col py-2 mt-1 border bg-white">
        <li>
            <h4><%= @email.object %></h4>
            <p><%= @email.body %></p>
        </li>
        <li>
        
         <%= link_to 'Marquer comme Non-lu', email_path(email), method: :PUT ,remote: true, class: 'btn btn-info btn-small' %>
        <%= link_to 'Supprimer email', email_path(email), method: :delete, remote: true, class: "btn btn-danger btn-small" %>
        </li>

    </div>
</ul>
