
<div class="container px-5 mb-5">
    
    <div class="row mx-lg-n5 mt-4">
        <h4><%= @email.object %></h4>
    </div>
    <div class="row mx-lg-n5 mt-4">
        <p><%= @email.body %></p>
    </div>

</div>